node_modules/
.expo/
dist/
web-build/
*.tsbuildinfo

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
ios/Pods/
ios/build/
android/.gradle/
android/build/
android/app/build/
android/local.properties

# Env
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*
